      id 
      body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #005baa;
            color: white;
            padding: 20px;
            text-align: center;
        }

        #navegacion {
            background-color: #004080;
            padding: 10px;
            text-align: center;
            position: sticky;
            top: 0;
        }

        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }

        section {
            padding: 20px;
        }

        h1,
        h2 {
            color: #333;
        }

        p {
            color: #555;
            line-height: 1.6;
        }

        footer {
            background-color: #005baa;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        /* Sección de Plan de Estudios */
        .study-plan table {
            width: 100%;
            border-collapse: collapse;
        }

        .study-plan th,
        .study-plan td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .study-plan th {
            background-color: #004080;
            color: white;
        }

        /* Estilos para el formulario */
        .formulario {
            background-color: #e6f7ff;
            padding: 20px;
            border-radius: 10px;
            max-width: 600px;
            margin: auto;
        }

        .formulario label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .formulario input,
        .formulario select {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .formulario button {
            background-color: #004080;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .formulario button:hover {
            background-color: #005baa;
        }